In [25]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

from tensorflow.keras.datasets import imdb
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN, Dense
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [59]:
# read tokenised data
(X_train, y_train), (X_test, y_test) = imdb.load_data()

In [60]:
# Get the word index mapping and reverse it
word_index = imdb.get_word_index()
reverse_word_index = dict([(value, key) for (key, value) in word_index.items()])

In [61]:
#Decode the reviews back to text
def decode_review(encoded_review):
    return ' '.join([reverse_word_index.get(i - 3, '?') for i in encoded_review])

In [73]:
# Decode the training and test data
X_train_text = [decode_review(review) for review in X_train]
X_test_text = [decode_review(review) for review in X_test]

In [ ]:
# Merging Data into single CSV

In [71]:
type(X_train_text)

list

In [77]:
# Create DataFrames from Decoded X
df1 = pd.DataFrame({'reviews': X_train_text})
df2 = pd.DataFrame({'reviews': X_test_text})
result = pd.concat([df1, df2], axis=0, ignore_index=True)
display(result)

                                                 reviews
0      ? this film was just brilliant casting locatio...
1      ? big hair big boobs bad music and a giant saf...
2      ? this has to be one of the worst films of the...
3      ? the scots excel at storytelling the traditio...
4      ? worst mistake of my life br br i picked this...
...                                                  ...
49995  ? the book is better than the film mostly beca...
49996  ? the largest crowd to ever see a wrestling ev...
49997  ? i suppose that to say this is an all out ter...
49998  ? in love 2 is the third movie it seemed that ...
49999  ? a good ol' boy film is almost required to ha...

[50000 rows x 1 columns]

In [78]:
# Create DataFrames from Y
df1_ = pd.DataFrame({'sentiment': y_train})
df2_ = pd.DataFrame({'sentiment': y_test})
result1 = pd.concat([df1_, df2_], axis=0, ignore_index=True)
display(result1)

       sentiment
0              1
1              0
2              0
3              1
4              0
...          ...
49995          1
49996          1
49997          0
49998          0
49999          0

[50000 rows x 1 columns]

In [82]:
imdb_data = pd.concat([result, result1], axis=1, ignore_index=True)
display(imdb_data)

                                                       0  1
0      ? this film was just brilliant casting locatio...  1
1      ? big hair big boobs bad music and a giant saf...  0
2      ? this has to be one of the worst films of the...  0
3      ? the scots excel at storytelling the traditio...  1
4      ? worst mistake of my life br br i picked this...  0
...                                                  ... ..
49995  ? the book is better than the film mostly beca...  1
49996  ? the largest crowd to ever see a wrestling ev...  1
49997  ? i suppose that to say this is an all out ter...  0
49998  ? in love 2 is the third movie it seemed that ...  0
49999  ? a good ol' boy film is almost required to ha...  0

[50000 rows x 2 columns]

In [83]:
imdb_data.columns = ['reviews', 'sentiment']

In [84]:
imdb_data

                                                 reviews  sentiment
0      ? this film was just brilliant casting locatio...          1
1      ? big hair big boobs bad music and a giant saf...          0
2      ? this has to be one of the worst films of the...          0
3      ? the scots excel at storytelling the traditio...          1
4      ? worst mistake of my life br br i picked this...          0
...                                                  ...        ...
49995  ? the book is better than the film mostly beca...          1
49996  ? the largest crowd to ever see a wrestling ev...          1
49997  ? i suppose that to say this is an all out ter...          0
49998  ? in love 2 is the third movie it seemed that ...          0
49999  ? a good ol' boy film is almost required to ha...          0

[50000 rows x 2 columns]

In [85]:
# Saving IMDB Data
imdb_data.to_csv('imdb_extracted.csv', index=False)